
/*
投诉建议
 */
.opinion .obody .sec1{
    overflow:hidden;
}
.opinion .obody .sec1 input{
    float:left;
    margin-left:40px;
    padding:0 10px;
    width:180px;
    height:28px;
    line-height:28px;
    font-size:14px;
    color:#333;
    border:1px solid #ddd;
    font-family:"Microsoft YaHei";
}
.opinion .obody .sec1 .ipt1{
    margin-left:0;
}
.opinion .obody .sec2{
    margin-top:40px;
    border:1px solid #ddd;
}
.opinion .obody .sec2 .as1{
    overflow:hidden;
    padding:0 18px;
}
.opinion .obody .sec2 .as1 article{
    float:left;
    margin-right:30px;
    height:50px;
    line-height:50px;
    font-size:14px;
    color:#333;
}
.opinion .obody .sec2 .as1 article input{
    position:relative;
    top:2px;
    margin-right:10px;
    width:14px;
    height:14px;
}
.opinion .obody .sec2 textarea{
    display:block;
    padding:10px;
    width:890px;
    height:172px;
    line-height:24px;
    font-size:14px;
    color:#999;
    border:none;
    border-top:1px solid #ddd;
    font-family:"Microsoft YaHei";
    background:#fff;
}
.opinion .obody .sec3{
    margin-top:30px;
    text-align:center;
}
.opinion .obody .sec3 input{
    width:98px;
    height:38px;
    font-size:18px;
    color:#333;
    border:none;
    border-radius:10px;
    color:#fff;
    background:#ff9900;
    cursor:pointer;
}
/*
投诉建议-结束
 */


/*个人中心顶部*/
.orange {
    color: #ff9900;
}
.personal-top {
    width: 100%;
    height: 40px;
    min-width: 1200px;
    background-color: #f9f9f9;
}
.personal-top .top {
    width: 1200px;
    height: 40px;
    line-height: 40px;
}
.personal-top .top .left {
    float: left;
    font-size: 12px;
    color: #666;
    font-weight: normal;
}
.personal-top .top .left label {
    margin:0 10px;
}
.personal-top .top .left label a{
    margin: 0 2px;
}
.personal-top .top .right {float: right;}
.personal-top .top .right a {
    position:relative;
    float:left;
    margin: 0 10px;
    font-size: 12px;
}

.personal-top .top a .mic{
    position:absolute;
    top:40px;
    left:0;
    z-index:5;
    display:none;
    padding:3px;
    width:86px;
    height:86px;
    box-shadow:0 0 5px #999;
    background:#fff;
}
.personal-top .top a .mic img{
    width:100%;
    height:100%;
}
.personal-top .top .right a:hover {color: #ff9900;}
.personal-top .top .right .shopp-car {
    padding-left: 20px;
    background: url(../images/icon_index_shopp_car_2.png) no-repeat left center;
}

/*个人中心顶部导航*/
.personal-top-nav {
    width: 100%;
    height: 104px;
    min-width: 1200px;
    background-color: #ff9900;
    margin: 0 auto;
}
.personal-top-nav .top-nav {
    width: 1200px;
    height: 104px;
}
.personal-top-nav .top-nav .personal-logo {
    float: left;
    width: 295px;
    height: 104px;
}
.personal-top-nav .top-nav .personal-logo img {
    width: 100%;
    height: 100%;
}
/*导航*/
.personal-top-nav .top-nav ul {
    float: left;
    margin: 30px 60px;
    width: 456px;
    height: 40px;
}
.personal-top-nav .top-nav ul li {
    float: left;
    width: 20%;
    *+width: 92px;
    height: 40px;
    text-align: center;
}
.personal-top-nav .top-nav ul li a.nav1 {
    height: 40px;
    line-height: 40px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.personal-top-nav .top-nav ul li.active a.nav1 {border-bottom: 3px solid #fff;}
/*下拉菜单*/
.personal-top-nav .top-nav ul li.li2 {position: relative;}
.personal-top-nav .top-nav ul li.li2:hover {background-color: #fff;}
.personal-top-nav .top-nav ul li.li2:hover a.nav1 {color: #ff9900;}
.personal-top-nav .top-nav ul .li2 .drop-down {
    position: absolute;
    left: -1px;
    top: 40px;
    z-index: 2;
    display: none;
    padding: 15px;
    width: 310px;
    background-color: #fff;
    border: 1px solid #ff9900;
    border-top: none;
}
.personal-top-nav .top-nav ul .li2:hover .drop-down {display: block;}
.personal-top-nav .top-nav ul .li2 .drop-down p {
    overflow: hidden;
    height: 40px;
    line-height: 40px;
}
.personal-top-nav .top-nav ul .li2 .drop-down p label {
    float: left;
    margin-right: 30px;
    font-weight: 700;
}
.personal-top-nav .top-nav ul .li2 .drop-down p a {
    float: left;
    margin-right: 20px;
}
.personal-top-nav .top-nav ul .li2 .drop-down p a:hover {color: #ff9900;}

.personal-top-nav .top-nav ul li a span {
    font-size: 12px;
    font-weight: normal;
}
.personal-top-nav .top-nav .search-box {
    float: right;
    margin: 30px 0;
    width: 310px;
    height: 44px;
    background-color: #fff;
}
.personal-top-nav .top-nav .search-box input {
    float: left;
    padding: 0 10px;
    width: 246px;
    height: 44px;
    line-height: 44px;
    border: none;    outline: none;
}
.personal-top-nav .top-nav .search-box a {
    float: right;
    width: 44px;
    height: 44px;
    background: url(../images/icon_index_search_2.png) no-repeat center center;
}

/*个人中心顶部 END*/

.index-main {
    padding: 20px 0;
    width: 100%;
    min-width: 1200px;
    background: url(../images/bg_index_sort_menu.png) repeat;
}
