<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tiandu.system.entity.mapper.TdSystemConfigMapper" >
  <resultMap id="BaseResultMap" type="com.tiandu.system.entity.TdSystemConfig" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="config_type" property="configType" jdbcType="INTEGER" />
    <result column="config_key" property="configKey" jdbcType="VARCHAR" />
    <result column="config_value" property="configValue" jdbcType="VARCHAR" />
    <result column="data_type" property="dataType" jdbcType="TINYINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, config_type, config_key, config_value, data_type, update_time, update_by
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from td_system_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="findByKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from td_system_config
    where config_key = #{key,jdbcType=VARCHAR}
  </select>
  <select id="findBySearchCriteria" resultMap="BaseResultMap" parameterType="com.tiandu.system.search.TdSystemConfigSearchCriteria" >
    select 
    <include refid="Base_Column_List" />
    from td_system_config
    where 1=1 
    <if test="configType != null" >
        and config_type=#{configType,jdbcType=INTEGER}
    </if>
    order by id asc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from td_system_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tiandu.system.entity.TdSystemConfig" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into td_system_config (config_type, config_key, config_value, 
      data_type, update_time, update_by
      )
    values (#{configType,jdbcType=INTEGER}, #{configKey,jdbcType=VARCHAR}, #{configValue,jdbcType=VARCHAR}, 
      #{dataType,jdbcType=TINYINT}, #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tiandu.system.entity.TdSystemConfig" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into td_system_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="configType != null" >
        config_type,
      </if>
      <if test="configKey != null" >
        config_key,
      </if>
      <if test="configValue != null" >
        config_value,
      </if>
      <if test="dataType != null" >
        data_type,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="configType != null" >
        #{configType,jdbcType=INTEGER},
      </if>
      <if test="configKey != null" >
        #{configKey,jdbcType=VARCHAR},
      </if>
      <if test="configValue != null" >
        #{configValue,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null" >
        #{dataType,jdbcType=TINYINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tiandu.system.entity.TdSystemConfig" >
    update td_system_config
    <set >
      <if test="configType != null" >
        config_type = #{configType,jdbcType=INTEGER},
      </if>
      <if test="configKey != null" >
        config_key = #{configKey,jdbcType=VARCHAR},
      </if>
      <if test="configValue != null" >
        config_value = #{configValue,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null" >
        data_type = #{dataType,jdbcType=TINYINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tiandu.system.entity.TdSystemConfig" >
    update td_system_config
    set config_type = #{configType,jdbcType=INTEGER},
      config_key = #{configKey,jdbcType=VARCHAR},
      config_value = #{configValue,jdbcType=VARCHAR},
      data_type = #{dataType,jdbcType=TINYINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>