<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tiandu.product.entity.mapper.TdAgentProductMapper" >
  <resultMap id="BaseResultMap" type="com.tiandu.product.entity.TdAgentProduct" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="note" property="note" jdbcType="VARCHAR" />
    <result column="image_url" property="imageUrl" jdbcType="VARCHAR" />
    <result column="supplier_price" property="supplierPrice" jdbcType="DECIMAL" />
    <result column="sales_price" property="salesPrice" jdbcType="DECIMAL" />
    <result column="group_id" property="groupId" jdbcType="INTEGER" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="INTEGER" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="gift" property="gift" jdbcType="BIT" />
    <!-- 更新人信息 -->
	<association property="updateUser" resultMap="updateUserResult"/>
  </resultMap>
  
  <resultMap id="updateUserResult" type="com.tiandu.custom.entity.TdUser" >
  	<result column="up_uname" property="uname" jdbcType="VARCHAR" />
  	<result column="up_unick" property="unick" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    p.id, p.title, p.note, p.image_url, p.supplier_price, p.sales_price, p.group_id, p.level, p.update_time, p.update_by,p.sort,p.gift
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from td_agent_product p
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="findBySearchCriteria" resultMap="BaseResultMap" parameterType="com.tiandu.product.search.TdAgentProductSearchCriteria" >
    select 
    <include refid="Base_Column_List" />
    <if test="getUpdateUser" >
        , b.uname as up_uname, b.unick as up_unick
    </if>
    from td_agent_product p
    <if test="getUpdateUser" >
        left join td_user b on b.uid= p.update_by
    </if>
    where 1=1 
    <choose>
    	<when test="sortBy != null and sortBy==1">
    		order by p.sort asc,p.id asc
    	</when>
    	<when test="sortBy != null and sortBy==2">
    		order by p.sort desc,p.id asc
    	</when>
    	<otherwise>
    		order by p.id asc
    	</otherwise>
    </choose>
  </select>
  
  <select id="countByCriteria" resultType="java.lang.Integer" parameterType="com.tiandu.product.search.TdAgentProductSearchCriteria" >
    select count(id)
    from td_agent_product
    where 1=1 
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from td_agent_product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tiandu.product.entity.TdAgentProduct" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into td_agent_product (title, note, image_url, 
      supplier_price, sales_price, group_id, 
      level, update_time, update_by, sort, gift
      )
    values (#{title,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, #{imageUrl,jdbcType=VARCHAR}, 
      #{supplierPrice,jdbcType=DECIMAL}, #{salesPrice,jdbcType=DECIMAL}, #{groupId,jdbcType=INTEGER}, 
      #{level,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=INTEGER}, #{sort,jdbcType=INTEGER}, #{gift,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tiandu.product.entity.TdAgentProduct" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into td_agent_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="title != null" >
        title,
      </if>
      <if test="note != null" >
        note,
      </if>
      <if test="imageUrl != null" >
        image_url,
      </if>
      <if test="supplierPrice != null" >
        supplier_price,
      </if>
      <if test="salesPrice != null" >
        sales_price,
      </if>
      <if test="groupId != null" >
        group_id,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="gift != null" >
        gift,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null" >
        #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="supplierPrice != null" >
        #{supplierPrice,jdbcType=DECIMAL},
      </if>
      <if test="salesPrice != null" >
        #{salesPrice,jdbcType=DECIMAL},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="gift != null" >
        #{gift,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tiandu.product.entity.TdAgentProduct" >
    update td_agent_product
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null" >
        image_url = #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="supplierPrice != null" >
        supplier_price = #{supplierPrice,jdbcType=DECIMAL},
      </if>
      <if test="salesPrice != null" >
        sales_price = #{salesPrice,jdbcType=DECIMAL},
      </if>
      <if test="groupId != null" >
        group_id = #{groupId,jdbcType=INTEGER},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="gift != null" >
        gift = #{gift,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tiandu.product.entity.TdAgentProduct" >
    update td_agent_product
    set title = #{title,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR},
      image_url = #{imageUrl,jdbcType=VARCHAR},
      supplier_price = #{supplierPrice,jdbcType=DECIMAL},
      sales_price = #{salesPrice,jdbcType=DECIMAL},
      <!-- group_id = #{groupId,jdbcType=INTEGER},
      level = #{level,jdbcType=INTEGER}, -->
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER},
      gift = #{gift,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>