<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tiandu.product.entity.mapper.TdProductPackageItemMapper" >
  <resultMap id="BaseResultMap" type="com.tiandu.product.entity.TdProductPackageItem" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="sku_id" property="skuId" jdbcType="INTEGER" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="quantity" property="quantity" jdbcType="INTEGER" />
    <result column="preprouduct_id" property="preprouductId" jdbcType="INTEGER" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="product_image" property="productImage" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <association property="prouduct" resultMap="ProductResult"/>
    <association property="preProuduct" resultMap="PProductResult"/>
    <association property="productSku" resultMap="productSkuResult"/>
  </resultMap>
  <resultMap id="ProductResult" type="com.tiandu.product.entity.TdProduct" >
    <id column="pid" property="id" jdbcType="INTEGER" />
    <result column="pkind" property="kind" jdbcType="TINYINT" />
    <result column="pname" property="name" jdbcType="VARCHAR" />
    <result column="pimage_url" property="imageUrl" jdbcType="VARCHAR" />
    <result column="pprice" property="price" jdbcType="DECIMAL" />
  </resultMap>
  <resultMap id="PProductResult" type="com.tiandu.product.entity.TdProduct" >
    <id column="ppid" property="id" jdbcType="INTEGER" />
    <result column="ppkind" property="kind" jdbcType="TINYINT" />
    <result column="ppname" property="name" jdbcType="VARCHAR" />
    <result column="ppimage_url" property="imageUrl" jdbcType="VARCHAR" />
    <result column="ppprice" property="price" jdbcType="DECIMAL" />
  </resultMap>
  <resultMap id="productSkuResult" type="com.tiandu.product.entity.TdProductSku" >
    <result column="sku_specifications" property="specifications" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    k.id, k.product_id, k.sku_id, k.sort, k.quantity, k.preprouduct_id, k.product_name, k.product_image, k.price
  </sql>
  <sql id="Product_Column_List" >
    p.id, p.kind, p.name, p.image_url, p.price
  </sql>
  <sql id="PProduct_Column_List" >
    pp.id, pp.kind, pp.name, pp.image_url, pp.price
  </sql>
  <sql id="productSku_Column_List" >
    s.specifications as sku_specifications
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from td_product_package_item as k
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from td_product_package_item
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByProductId" parameterType="java.lang.Integer" >
	    delete from td_product_package_item
	    where product_id = #{productId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tiandu.product.entity.TdProductPackageItem" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into td_product_package_item (product_id, sku_id, sort, 
      quantity, preprouduct_id, product_name, product_image, price)
    values (#{productId,jdbcType=INTEGER}, #{skuId,jdbcType=INTEGER}, #{sort,jdbcType=INTEGER}, 
      #{quantity,jdbcType=INTEGER}, #{preprouductId,jdbcType=INTEGER}, #{productName,jdbcType=VARCHAR}, #{productImage,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.tiandu.product.entity.TdProductPackageItem" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into td_product_package_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="productId != null" >
        product_id,
      </if>
      <if test="skuId != null" >
        sku_id,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="quantity != null" >
        quantity,
      </if>
      <if test="preprouductId != null" >
        preprouduct_id,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="productImage != null" >
        product_image,
      </if>
      <if test="price != null" >
        price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="skuId != null" >
        #{skuId,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=INTEGER},
      </if>
       <if test="preprouductId != null" >
        #{preprouductId,jdbcType=INTEGER},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productImage != null" >
        #{productImage,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tiandu.product.entity.TdProductPackageItem" >
    update td_product_package_item
    <set >
      <if test="productId != null" >
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="skuId != null" >
        sku_id = #{skuId,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="quantity != null" >
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="preprouductId != null" >
        preprouduct_id = #{preprouductId,jdbcType=INTEGER},
      </if>
      <if test="productName != null" >
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productImage != null" >
        product_image = #{productImage,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tiandu.product.entity.TdProductPackageItem" >
    update td_product_package_item
    set product_id = #{productId,jdbcType=INTEGER},
      sku_id = #{skuId,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER},
      quantity = #{quantity,jdbcType=INTEGER},
      preprouduct_id = #{preprouductId,jdbcType=INTEGER},
      product_name = #{productName,jdbcType=VARCHAR},
      product_image = #{productImage,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="countByCriteria" resultType="java.lang.Integer" parameterType="com.tiandu.product.search.TdProductPackageItemSearchCriteria" >
    select count(k.id)
    from td_product_package_item as k
    left join td_product p on p.id= k.product_id
    left join td_product pp on pp.id= k.preprouduct_id
    where 1=1 
    <if test="id != null" >
        and k.id=#{id,jdbcType=INTEGER}
    </if>
    <if test="productId != null" >
        and k.product_id=#{productId,jdbcType=INTEGER}
    </if>
    <if test="preprouductId != null" >
        and k.preprouduct_id=#{preprouductId,jdbcType=INTEGER}
    </if>
  </select>
  
  <select id="findBySearchCriteria" resultMap="BaseResultMap" parameterType="com.tiandu.product.search.TdProductPackageItemSearchCriteria" >
    select 
    <include refid="Base_Column_List" />
    , <include refid="Product_Column_List" />
    , <include refid="PProduct_Column_List" />
    , <include refid="productSku_Column_List" />
    from td_product_package_item as k
    left join td_product p on p.id= k.product_id
    left join td_product pp on pp.id= k.preprouduct_id
    left join td_product_sku s on k.sku_id = s.id
    where 1=1 
    <if test="id != null" >
        and k.id=#{id,jdbcType=INTEGER}
    </if>
    <if test="productId != null" >
        and k.product_id=#{productId,jdbcType=INTEGER}
    </if>
    <if test="preprouductId != null" >
        and k.preprouduct_id=#{preprouductId,jdbcType=INTEGER}
    </if>
  </select>
</mapper>