
.top_div {
    overflow: hidden;
    width: 1200px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
}

.signor {
    width: 360px;
}

.signor .a1 {
    color: #017cc2;
}

.signor .a2 {
    color: #000000;
}

.row_linka {
    width: 840px;
}

.row_linka a {
    float: right;
    display: inline-block;
    margin-top: 13px;
    width: 88px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    border-right: 1px solid #ddd;
}

.row_linka a._shop_car {
    position: relative;
    margin: 0;
    width: 74px;
    height: 40px;
    border: none;
    background: url(../images/z1.png) no-repeat 20px center;
}

.row_linka a._shop_car span {
    position: absolute;
    right: 2px;
    top: 10px;
    display: block;
    width: 30px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    background: url(../images/z2.png) no-repeat 2px center;
}

.logo_div {
    overflow: hidden;
    width: 1200px;
    height: 130px;
}

.logo_div .alogo {
    width: 690px;
}

.logo_div .alogo img {
    margin-top: 29px;
    width: 689px;
    height: 72px;
}

.logo_div .sec1 {
    width: 460px;
}

.logo_div .sec1 .as2 {
    overflow: hidden;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}

.logo_div .sec1 .as2 a {
    margin-right: 10px;
}

.logo_div .sec1 .as2 .a1 {
    color: #ff8800;
}

.logo_div .sec1 .as2 .a2 {
    color: #f1394f;
}

.search_div {
    margin-top: 30px;
}

.search_div input {
    padding: 0 80px 0 10px;
    width: 366px;
    height: 42px;
    border: 2px solid #017cc2;
}

.search_div a {
    position: absolute;
    right: 0;
    top: 2px;
    display: block;
    width: 80px;
    height: 44px;
    background: #017cc2 url(../images/z3.png) no-repeat center;
}

.nav-box {
    height: 50px;
    background: #017cc2;
}

.nav_div_box {
    width: 1200px;
    line-height: 50px;
    font-size: 16px;
    color: #fff;
}

.nav_div_box a {
    color: #fff;
}

.nav_div_box .all1 {
    width: 250px;
    height: 50px;
}

.nav_div_box .all1 dt {
    padding: 0 20px;
    width: 210px;
    float: left;
    height: 50px;
    position: relative;
    background: #2399dd url(../images/z4.png) no-repeat 210px center;

}

.nav_div_box .all1 > dd {
    float: left;
    width: 250px;
    background: #fff;
    height: 440px;
    padding: 10px 0;
    display: none;
}

.nav_div_box .all1 dd.menuitem {
    float: left;
    width: 100%;
    z-index: 6;
}

.nav_div_box .all1 dd.menuitem .item {
    float: left;
    width: 100%;
    height: 32px;
    position: relative;
}

.nav_div_box .all1 dd.menuitem .item > a {
    float: left;
    width: 210px;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    padding: 0 20px;
    color: #666;
    background: url('../../images/f-icon9.png') 225px center no-repeat;
}

.nav_div_box .all1 dd.menuitem .item > .childitem {
    position: absolute;
    left: 250px;
    top: 0;
    float: left;
    width: 530px;
    z-index: 6;
    display: none;
    padding: 6px 10px 0 20px;
    background: #fafafa;
}

.nav_div_box .all1 dd.menuitem .item > .childitem dl {
    width: 100%;
    overflow: hidden;
    line-height: 2em;
    border-bottom: 1px solid #eeeeee;
}

.nav_div_box .all1 dd.menuitem .item > .childitem dt {
    position: relative;
    float: left;
    padding: 0 20px 0 0;
    width: 30px;
    text-align: left;
    font-weight: 700;
    background: #fafafa;
}

.nav_div_box .all1 dd.menuitem .item > .childitem dt a {
    font: 14px/30px "microsoft yahei";
    color: #0088cd;
}

.nav_div_box .all1 dd.menuitem .item > .childitem dd {
    float: left;
    padding: 6px 0;
    width: 415px;
}

.nav_div_box .all1 dd.menuitem .item > .childitem dd a {
    color: #666;
    float: left;
    padding: 0 8px;
    margin: 4px 0;
    line-height: 16px;
    height: 16px;
    font-size: 14px;
    border-left: 1px solid #e0e0e0;
    white-space: nowrap;
}

.nav_div_box .all1 dd.menuitem .item > .childitem dd a:hover {
    color: #009ce7;
}

.nav_div_box .sec1 {
    padding-left: 30px;
    background: url(../images/z5.png) no-repeat 0 center;
}

.nav_div_box .sec1 span {
    font-size: 17px;
}

.nav_div {
    overflow: hidden;
    width: 670px;
}

.nav_div a {
    display: block;
    padding: 0 23px;
}

.innerf {
    margin-top: 40px;
}

.icon_div {
    overflow: hidden;
    width: 1200px;
}

.icon_div ul {
    overflow: hidden;
}

.icon_div ul li {
    float: left;
    padding: 30px 0 30px 70px;
    width: 170px;
    height: 54px;
}

.icon_div ul li p {
    overflow: hidden;
    width: 100%;
    height: 27px;
    line-height: 27px;
    font-size: 12px;
    color: #cccccc;
}

.icon_div ul li .p1 {
    font-size: 20px;
}

.icon_div ul .li1 {
    background: url(../images/z6.png) no-repeat 0 center;
}

.icon_div ul .li2 {
    background: url(../images/z7.png) no-repeat 0 center;
}

.icon_div ul .li3 {
    background: url(../images/z8.png) no-repeat 0 center;
}

.icon_div ul .li4 {
    background: url(../images/z9.png) no-repeat 0 center;
}

.icon_div ul .li5 {
    background: url(../images/z10.png) no-repeat 0 center;
}

.link_div {
    padding: 50px 0;
    width: 1200px;
}

.link_div ul {
    overflow: hidden;
}

.link_div ul li {
    float: left;
    width: 20%;
}

.link_div ul li p {
    overflow: hidden;
}

.link_div ul li .p1 {
    margin-bottom: 20px;
    font-size: 16px;
    color: #444;
}

.link_div ul li a {
    float: left;
    margin-bottom: 14px;
    margin-right: 40px;
    font-size: 12px;
    white-space: nowrap;
}

.under_div {
    padding: 30px 0;
    width: 1200px;
    font-size: 12px;
}

.under_div p {
    overflow: hidden;
    width: 100%;
    height: 26px;
    line-height: 26px;
    text-align: center;
}

.under_div .p1 a {
    padding: 0 18px;
    border-left: 1px solid #ddd;
}

.under_div .p1 .a1 {
    border: none;
}
