<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tiandu.order.entity.mapper.TdOrderShipmentMapper" >
  <resultMap id="BaseResultMap" type="com.tiandu.order.entity.TdOrderShipment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="tracking_no" property="trackingNo" jdbcType="VARCHAR" />
    <result column="tracking_id" property="trackingId" jdbcType="INTEGER" />
    <result column="return_reason" property="returnReason" jdbcType="VARCHAR" />
    <result column="cargo_status" property="cargoStatus" jdbcType="TINYINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="INTEGER" />
    <!-- 物流公司信息 -->
    <association property="trackExpress" resultMap="trackExpressResult"/>
    <!-- 进行 多表关联插叙，先关联shipment和shipmentitem -->
	<collection property="itemList" column="shipment_id" ofType="com.tiandu.order.entity.TdOrderShipmentItem">
		<id property="id" column="ITEM_ID"/>
		<result property="quantity" column="ITEM_QUANTITY"/>
		<association property="itemOrderSku" resultMap="itemOrderSkuResult"/>
	</collection>
  </resultMap>
  
  <resultMap id="ResultMapWithBLOBs" type="com.tiandu.order.entity.TdOrderShipment" extends="BaseResultMap" >
    <result column="tracking_trace" property="trackingTrace" jdbcType="LONGVARCHAR" />
  </resultMap>
  
  <resultMap id="itemOrderSkuResult" type="com.tiandu.order.entity.TdOrderSku" >
  	<result column="item_productName" property="productName" jdbcType="VARCHAR" />
  	<result column="item_specification" property="displaySpecifications" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="trackExpressResult" type="com.tiandu.express.entity.TdExpress" >
  	<result column="express_name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    s.id, s.order_id, s.type, s.tracking_no, s.tracking_id, s.return_reason, s.cargo_status, s.status, 
    s.create_time, s.create_by, s.update_time, s.update_by
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from td_order_shipment s
    where s.id = #{id,jdbcType=INTEGER}
  </select>
  <select id="findBySearchCriteria" resultMap="BaseResultMap" parameterType="com.tiandu.order.search.TdOrderShipmentSearchCriteria" >
    select 
    <include refid="Base_Column_List" />
    , e.name as express_name, i.id as ITEM_ID, i.quantity as ITEM_QUANTITY, o.product_name as item_productName, o.display_specifications as item_specification
    from td_order_shipment s left join td_express e on s.tracking_id = e.id left join td_order_shipment_item i on i.shipment_id = s.id left join td_order_sku o on i.order_sku_id = o.order_sku_id
    where 1=1 
    <if test="type != null" >
        and s.type=#{type,jdbcType=TINYINT}
    </if>
    <if test="orderId != null" >
        and s.order_id=#{orderId,jdbcType=INTEGER}
    </if>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from td_order_shipment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tiandu.order.entity.TdOrderShipment" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into td_order_shipment (order_id, type, tracking_no, 
      tracking_id, return_reason, cargo_status, 
      status, create_time, create_by, 
      update_time, update_by)
    values (#{orderId,jdbcType=INTEGER}, #{type,jdbcType=TINYINT}, #{trackingNo,jdbcType=VARCHAR}, 
      #{trackingId,jdbcType=INTEGER}, #{returnReason,jdbcType=VARCHAR}, #{cargoStatus,jdbcType=TINYINT}, 
      #{status,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.tiandu.order.entity.TdOrderShipment" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into td_order_shipment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="trackingNo != null" >
        tracking_no,
      </if>
      <if test="trackingId != null" >
        tracking_id,
      </if>
      <if test="returnReason != null" >
        return_reason,
      </if>
      <if test="cargoStatus != null" >
        cargo_status,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="trackingNo != null" >
        #{trackingNo,jdbcType=VARCHAR},
      </if>
      <if test="trackingId != null" >
        #{trackingId,jdbcType=INTEGER},
      </if>
      <if test="returnReason != null" >
        #{returnReason,jdbcType=VARCHAR},
      </if>
      <if test="cargoStatus != null" >
        #{cargoStatus,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tiandu.order.entity.TdOrderShipment" >
    update td_order_shipment
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="trackingNo != null" >
        tracking_no = #{trackingNo,jdbcType=VARCHAR},
      </if>
      <if test="trackingId != null" >
        tracking_id = #{trackingId,jdbcType=INTEGER},
      </if>
      <if test="returnReason != null" >
        return_reason = #{returnReason,jdbcType=VARCHAR},
      </if>
      <if test="cargoStatus != null" >
        cargo_status = #{cargoStatus,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="trackingTrace != null" >
        tracking_trace = #{trackingTrace,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tiandu.order.entity.TdOrderShipment" >
    update td_order_shipment
    set order_id = #{orderId,jdbcType=INTEGER},
      type = #{type,jdbcType=TINYINT},
      tracking_no = #{trackingNo,jdbcType=VARCHAR},
      tracking_id = #{trackingId,jdbcType=INTEGER},
      return_reason = #{returnReason,jdbcType=VARCHAR},
      cargo_status = #{cargoStatus,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>