<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tiandu.order.entity.mapper.TdOrderShipmentMapper" >
  <resultMap id="BaseResultMap" type="com.tiandu.order.entity.TdOrderShipment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="tracking_no" property="trackingNo" jdbcType="VARCHAR" />
    <result column="tracking_id" property="trackingId" jdbcType="INTEGER" />
    <result column="return_reason" property="returnReason" jdbcType="VARCHAR" />
    <result column="cargo_status" property="cargoStatus" jdbcType="TINYINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="INTEGER" />
    <result column="return_cause" property="returnCause" jdbcType="INTEGER" />
    <result column="return_amount" property="returnAmount" jdbcType="DECIMAL" />
    <result column="supply_id" property="supplyId" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <!-- 订单信息 -->
    <association property="order" resultMap="orderResult"/>
    <!-- 物流公司信息 -->
    <association property="trackExpress" resultMap="trackExpressResult"/>
    <!-- 进行 多表关联插叙，先关联shipment和shipmentitem -->
	<collection property="itemList" column="shipment_id" ofType="com.tiandu.order.entity.TdOrderShipmentItem">
		<id property="id" column="ITEM_ID"/>
		<result property="quantity" column="ITEM_QUANTITY"/>
		<association property="itemOrderSku" resultMap="itemOrderSkuResult"/>
	</collection>
  </resultMap>
  
  <resultMap id="ResultMapWithBLOBs" type="com.tiandu.order.entity.TdOrderShipment" extends="BaseResultMap" >
    <result column="tracking_trace" property="trackingTrace" jdbcType="LONGVARCHAR" />
    <result column="voucher_images" property="voucherImages" jdbcType="LONGVARCHAR" />
  </resultMap>
  
  <resultMap id="orderResult" type="com.tiandu.order.entity.TdOrder">
    <result column="total_amount" property="totalAmount" jdbcType="DECIMAL" />
    <result column="pay_amount" property="payAmount" jdbcType="DECIMAL" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="order_status" property="orderStatus" jdbcType="TINYINT" />
    <result column="order_pay" property="payStatus" jdbcType="TINYINT" />
    <result column="order_ship" property="shipmentStatus" jdbcType="TINYINT" />
  </resultMap>
  
  <resultMap id="itemOrderSkuResult" type="com.tiandu.order.entity.TdOrderSku" >
  	<result column="item_img" property="productImage" jdbcType="VARCHAR" />
  	<result column="item_productName" property="productName" jdbcType="VARCHAR" />
  	<result column="item_specification" property="displaySpecifications" jdbcType="VARCHAR" />
  	 <result column="item_price" property="price" jdbcType="DECIMAL" />
  </resultMap>
  
  <resultMap id="trackExpressResult" type="com.tiandu.express.entity.TdExpress" >
  	<result column="express_name" property="name" jdbcType="VARCHAR" />
  	<result column="express_com" property="com" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    s.id, s.order_id, s.type, s.tracking_no, s.tracking_id, s.return_reason, s.cargo_status, s.status, 
    s.create_time, s.create_by, s.update_time, s.update_by, s.return_cause, s.return_amount,s.supply_id,s.remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    , r.total_amount, r.pay_amount, r.order_no ,r.order_status as order_status,r.pay_status as order_pay,r.shipment_status as order_ship
   , i.id as ITEM_ID, i.quantity as ITEM_QUANTITY,o.product_image as item_img, o.product_name as item_productName, o.display_specifications as item_specification
    from td_order_shipment s
    	left join td_order_shipment_item i on i.shipment_id = s.id 
    	left join td_order_sku o on i.order_sku_id = o.order_sku_id
    	left join td_order r on r.order_id=s.order_id 
    where s.id = #{id,jdbcType=INTEGER}
  </select>
  <select id="findBySearchCriteria" resultMap="BaseResultMap" parameterType="com.tiandu.order.search.TdOrderShipmentSearchCriteria" >
    select 
    <include refid="Base_Column_List" />
    <if test="getOrder">
    , r.total_amount, r.pay_amount, r.order_no 
    </if>
    , e.name as express_name, e.com as express_com, i.id as ITEM_ID, i.quantity as ITEM_QUANTITY,o.product_image as item_img, o.product_name as item_productName, o.display_specifications as item_specification, o.price as item_price
    from td_order_shipment s left join td_express e on s.tracking_id = e.id left join td_order_shipment_item i on i.shipment_id = s.id left join td_order_sku o on i.order_sku_id = o.order_sku_id
    <if test="getOrder">
     left join td_order r on r.order_id=s.order_id 
    </if>
    where 1=1 
    <if test="type != null" >
        and s.type=#{type,jdbcType=TINYINT}
    </if>
    <if test="orderId != null" >
        and s.order_id=#{orderId,jdbcType=INTEGER}
    </if>
    <if test="uid != null" >
        and r.user_id=#{uid,jdbcType=INTEGER}
    </if>
    <if test="supplyId != null" >
        and s.supply_id=#{supplyId,jdbcType=INTEGER}
    </if>
    <if test="status != null" >
        and s.status=#{status,jdbcType=TINYINT}
    </if>
  </select>
  <select id="countByCriteria" resultType="java.lang.Integer" parameterType="com.tiandu.order.search.TdOrderShipmentSearchCriteria" >
    select count(*)
    from td_order_shipment s 
    <if test="getOrder">
     left join td_order o on o.order_id=s.order_id 
    </if>
    where 1=1 
    <if test="type != null" >
        and s.type=#{type,jdbcType=TINYINT}
    </if>
    <if test="orderId != null" >
        and s.order_id=#{orderId,jdbcType=INTEGER}
    </if>
    <if test="uid != null" >
        and o.user_id=#{uid,jdbcType=INTEGER}
    </if>
    <if test="supplyId != null" >
        and s.supply_id=#{supplyId,jdbcType=INTEGER}
    </if>
    <if test="status != null" >
        and s.status=#{status,jdbcType=TINYINT}
    </if>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from td_order_shipment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tiandu.order.entity.TdOrderShipment" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into td_order_shipment (order_id, type, tracking_no, 
      tracking_id, return_reason, cargo_status, 
      status, create_time, create_by, tracking_trace, voucher_images, return_cause, return_amount,
      update_time, update_by,supply_id,remark)
    values (#{orderId,jdbcType=INTEGER}, #{type,jdbcType=TINYINT}, #{trackingNo,jdbcType=VARCHAR}, 
      #{trackingId,jdbcType=INTEGER}, #{returnReason,jdbcType=VARCHAR}, #{cargoStatus,jdbcType=TINYINT}, 
      #{status,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=INTEGER}, #{trackingTrace,jdbcType=LONGVARCHAR},
      #{voucherImages,jdbcType=LONGVARCHAR},#{returnCause,jdbcType=INTEGER}, #{returnAmount,jdbcType=DECIMAL}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=INTEGER},#{supplyId,jdbcType=INTEGER},#{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tiandu.order.entity.TdOrderShipment" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into td_order_shipment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="trackingNo != null" >
        tracking_no,
      </if>
      <if test="trackingId != null" >
        tracking_id,
      </if>
      <if test="returnReason != null" >
        return_reason,
      </if>
      <if test="cargoStatus != null" >
        cargo_status,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="supplyId != null" >
        supply_id,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="trackingNo != null" >
        #{trackingNo,jdbcType=VARCHAR},
      </if>
      <if test="trackingId != null" >
        #{trackingId,jdbcType=INTEGER},
      </if>
      <if test="returnReason != null" >
        #{returnReason,jdbcType=VARCHAR},
      </if>
      <if test="cargoStatus != null" >
        #{cargoStatus,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="supplyId != null" >
        #{supplyId,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tiandu.order.entity.TdOrderShipment" >
    update td_order_shipment
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="trackingNo != null" >
        tracking_no = #{trackingNo,jdbcType=VARCHAR},
      </if>
      <if test="trackingId != null" >
        tracking_id = #{trackingId,jdbcType=INTEGER},
      </if>
      <if test="returnReason != null" >
        return_reason = #{returnReason,jdbcType=VARCHAR},
      </if>
      <if test="cargoStatus != null" >
        cargo_status = #{cargoStatus,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="trackingTrace != null" >
        tracking_trace = #{trackingTrace,jdbcType=LONGVARCHAR},
      </if>
      <if test="returnAmount != null" >
        return_amount = #{returnAmount,jdbcType=DECIMAL},
      </if>
      <if test="voucherImages != null" >
        voucher_images = #{voucherImages,jdbcType=LONGVARCHAR},
      </if>
      <if test="returnCause != null" >
        return_cause = #{returnCause,jdbcType=INTEGER},
      </if>
      <if test="supplyId != null" >
        supply_id = #{supplyId,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tiandu.order.entity.TdOrderShipment" >
    update td_order_shipment
    set order_id = #{orderId,jdbcType=INTEGER},
      type = #{type,jdbcType=TINYINT},
      tracking_no = #{trackingNo,jdbcType=VARCHAR},
      tracking_id = #{trackingId,jdbcType=INTEGER},
      return_reason = #{returnReason,jdbcType=VARCHAR},
      cargo_status = #{cargoStatus,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      tracking_trace = #{trackingTrace,jdbcType=LONGVARCHAR},
      return_amount = #{returnAmount,jdbcType=DECIMAL},
      voucher_images = #{voucherImages,jdbcType=LONGVARCHAR},
      return_cause = #{returnCause,jdbcType=INTEGER},
      update_by = #{updateBy,jdbcType=INTEGER},
      supply_id = #{supplyId,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>