<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tiandu.article.entity.mapper.TdArticleContentMapper" >
  <resultMap id="BaseResultMap" type="com.tiandu.article.entity.TdArticleContent" >
    <id column="aid" property="aid" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.tiandu.article.entity.TdArticleContent" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    aid, content
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from td_article_content
    where aid = #{aid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from td_article_content
    where aid = #{aid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tiandu.article.entity.TdArticleContent" >
    <selectKey resultType="java.lang.Integer" keyProperty="aid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into td_article_content (content)
    values (#{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tiandu.article.entity.TdArticleContent" >
    <selectKey resultType="java.lang.Integer" keyProperty="aid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into td_article_content
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tiandu.article.entity.TdArticleContent" >
    update td_article_content
    <set >
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where aid = #{aid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.tiandu.article.entity.TdArticleContent" >
    update td_article_content
    set content = #{content,jdbcType=LONGVARCHAR}
    where aid = #{aid,jdbcType=INTEGER}
  </update>
  <select id="findBySearchCriteria" resultMap="BaseResultMap" parameterType="com.tiandu.article.search.TdArticleContentSearchCriteria" >
    select 
    <include refid="Base_Column_List" />
    from td_article_content
    where 1=1 
    <if test="aid != null" >
        and aid!=#{aid,jdbcType=INTEGER}
    </if>
  </select>
  <select id="countByCriteria" resultType="java.lang.Integer" parameterType="com.tiandu.article.search.TdArticleContentSearchCriteria" >
    select count(aid)
    from td_article_content
    where 1=1 
    <if test="aid != null" >
        and aid=#{aid,jdbcType=INTEGER}
    </if>
  </select>
</mapper>